
body {

}

.menu p {
  font-family: "Avenir";
  padding: 10px;
  margin: 0px;
  border: 1px solid lightgray;
  border-bottom: 0px;
}


.menu {
  width: 275px;
  box-sizing: border-box;
  border-bottom: 1px solid lightgray;
}

.selected {
  color: #66CC99;
}
